# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Large geospatial binaries
*.tif
*.tiff
*.img
*.ecw
*.gdb/
*.mdb
*.laz
*.las
*.osm.pbf
data/raw/

# Processed data
data/processed/*
!data/processed/evn_hydro_latest.csv
!data/processed/evn_hydro_historical.csv

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
